{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true,
    "jquery": true
  },
  "rules": {
    "react/jsx-no-bind": 0,
    "react/prefer-stateless-function": 0,
    "react/require-extension": 0,
    "arrow-body-style": 0,
    "import/no-extraneous-dependencies": 0,
    "react/jsx-filename-extension": [2, {"extensions": [".js", ".jsx"]}],
    "import/newline-after-import": 0
  },
  "plugins": [
    "react"
  ]
}
